.sideNavBarWrap{
    background: #453b45;
    height: 100vh;
    width: 300px;
}
.sideNavBar{
    padding: 0px;
}
.sideNavBarItem{
    padding: 15px;
    list-style-type: none;
    border-bottom: 1px solid #4a364a;
    cursor: pointer;
}
.sideNavBarItem:hover{
    background: #ffe7d0;
    color: #0a000a;
}